
.pageHeadline {
  padding: 5px !important;
}

div.userListTable {
  border-radius: 5px;
  border: solid 1px #dfdfdf;
}

table.userListTable {
  width: 100%;
  tbody {
    tr {
      th {
        font-weight: bold;
        padding: 5px;
      }
      td {
        padding: 5px;
      }
    }
    tr:nth-child(even) {
      background: #ffffff;
    }
    tr:nth-child(odd) {
      background: #dfdfdf;
    }
  }
}

.logo {
  font-size: 32px;
  color: #000000;
  padding: 20px !important;
  background: #DFDFDF;
  border-radius: 5px;
  margin: 0 0 5px 0 !important;
  width: 200px;
  text-align: center;
  text-shadow: 2px 2px #ffffee;
}

div.flash-message {
  border: solid 1px #cccccc;
  border-radius: 5px;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
  padding: 5px !important;
  font-weight: bold;
}
