{% extends "HSPPageBundle::layout.html.twig" %}

{% block title "Administration - Export" %}

{% block content_header 'Administration - Export' %}
{% block content %}
    <center>
        To start export please copy the link to your curl script or download it (save target as)<br/>
        <a href="{{ csvexportlink }}" tabindex="_blank">{{ csvexportlink }}</a>
    </center>
{% endblock %}
