{% extends "HSPPageBundle::layout.html.twig" %}

{% block title "Administration - Leases" %}

{% block content_header 'Administration - Leases' %}
{% block content %}
    <div class="filterForm">
        {{ form(form) }}
    </div>
    <div class="userListTable">
        <table class="userListTable">
            <tr>
                <th>IPV6</th>
                <th>IPV4</th>
                <th>MAC</th>
                <th>Last seen</th>
            </tr>

            {% for lease in leases %}
                <tr class="{{ cycle(['odd','even'], loop.index0) }}">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
