{% extends "HSPPageBundle::layout.html.twig" %}

{% block title "Administration - Routers" %}

{% block content_header 'Administration - Routers' %}
{% block content %}
    <div class="userListTable">
        <table class="userListTable">
            <tr>
                <th>Status</th>
                <th>Router</th>
                <th>IP/FQDN</th>
                <th>Actions</th>
            </tr>

            {% for router in routers %}
                <tr class="{{ cycle(['odd','even'], loop.index0) }}">
                    <td>{% if router.getActive()==1 %}&#10004;{% else %}&#x2300;{% endif %}</td>
                    <td>{{ router.getRouterName() }}</td>
                    <td>{{ router.getfqdn() }}</td>
                    <td>
                        <a href="{{ path('hsp_admin_router_edit', {'routerid':router.getid()}) }}">edit</a><br/>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div style="padding: 10px 5px 5px 5px;">
            <b>Notice:</b> Routers can not be deleted, this would compromise database integrety!
        </div>
    </div>
{% endblock %}
