{% extends "HSPPageBundle::layout.html.twig" %}

{% block title "Administration - Delete User" %}

{% block content_header 'Administration - Delete User' %}
{% block content %}
    <center>
        <h1>Are you sure that you want to delete the user: {{ username }}</h1>
        <small><b>Note:</b> This step cannot be revoked!</small>
        <a href="#" onclick="history.back();">cancel</a>
        <a href="{{ path('hsp_admin_user_delete',{'username':username}) }}">confirm</a><br/>
    </center>
{% endblock %}
