{% extends "HSPPageBundle::layout.html.twig" %}

{% block title "Administration" %}

{% block content_header 'Administration' %}
{% block content %}
    <center>
        <h1>User deleted!</h1>
        <a href="{{ path('hsp_admin_link') }}">Ok</a>
    </center>
{% endblock %}
